<div class="page" id="pages-actionsheet-page" >
    <header class="m-header">
        <span class="lt-bar back" data-role="back"><i class="am-icon-angle-left"></i></span>
        <div class="head">
            <h1 class="font-gray">菜单 演示</h1>
        </div>
    </header>
    <div style="padding:10px">
        演示如何在控制器打开菜单
        <p></p>
        <a href="" class="am-btn am-btn-primary am-btn-block">点击我</a>
        <pre>
……
actionsheet: function() {
    this.actionsheetView.render({});

    this.actionsheetView.$el.on("click", ".am-btn-block", function(event) {
        $.actionSheet();
    });
},
……
        </pre>
    </div>
</div>