<div class="page" id="pages-iScroll-page" >
    <header class="m-header">
        <span class="lt-bar back" data-role="back"><i class="am-icon-angle-left"></i></span>
        <div class="head">
            <h1 class="font-gray">iScroll 演示</h1>
        </div>
    </header>
    <div id="wrapper" class="iScroll">
        <div style="padding:10px">
            演示如何在控制器打开iScroll,用手机或者模拟器打开然后上下拖动效果
            <p></p>
            <pre>
    ……
    iScroll: function() {
        this.iScrollView.render({});

        var IScroll = $.AMUI.iScroll;
        var myScroll = new IScroll('#wrapper');
    }



















    ……
            </pre>
        </div>
    </div>

</div>