<div class="page" id="index-page">
    <header class="m-header">
        <div class="head">
            <h1 class="font-gray">掌厨网CRM</h1>
        </div>
    </header>

    <section class="panels">
    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-home"></i> 门店管理</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="/Stores/privateList">我的私海 68 <i class="am-icon-angle-right"></i></a>
                </div>
                <div class="am-u-sm-6">
                    <a href="/Stores/publicList">公海门店 23 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-clipboard"></i> 订单管理</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="">今日配送 68 <i class="am-icon-angle-right"></i></a>
                </div>
                <div class="am-u-sm-6">
                    <a href="">今日订单 23 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-jyp"></i> 账户管理</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <a href="">门店催款 1212.12元 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-calendar"></i> 拜访管理</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="">拜访计划 6 <i class="am-icon-angle-right"></i></a>
                </div>
                <div class="am-u-sm-6">
                    <a href="">拜访记录 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-bug"></i> 客户反馈</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="">进行中 6 <i class="am-icon-angle-right"></i></a>
                </div>
                <div class="am-u-sm-6">
                    <a href="">拜访记录 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="am-panel am-panel-default">
        <div class="am-panel-hd"><i class="am-icon-line-chart"></i> 我的业绩</div>
        <div class="am-panel-bd">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="">我的完成率 88% <i class="am-icon-angle-right"></i></a>
                </div>
                <div class="am-u-sm-6">
                    <a href="">我的排名 5/10 <i class="am-icon-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="am-panel am-panel-default">
        <div class="am-panel-bd">
            <a href=""><i class="am-icon-lock"></i> 修改密码 <i class="am-icon-angle-right"></i></a>
        </div>
    </div>
    </section>
</div>