<div class="page" id="index-page">
    <header class="m-header">
        <div class="head">
            <h1 class="font-gray">工程化 webapp 项目架构</h1>
        </div>
    </header>

    <section class="panels">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/index">页面切换演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/LayzLoad/index">演示按需加载controller<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Preload/index">预加载controller<i class="am-icon-angle-right"></i></a>
            </div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/add">访问控制器中action 演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>
        
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/bindEvent">事件绑定 演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/loadding">loadding 演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/alert">Alert 演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/actionsheet">菜单演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/modal">弹窗演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>

        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="/Pages/iScroll">iScroll(页面模拟滚动) 演示<i class="am-icon-angle-right"></i></a>
            </div>
        </div>
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <a href="http://github.com/linksgo2011/backbone-mobile">Fork 本项目<i class="am-icon-angle-right"></i></a>
            </div>
        </div>
    </section>
</div>