<div class="page" id="store-detail-page" >
    <header class="m-header">
        <span class="lt-bar back" data-role="back"><i class="am-icon-angle-left"></i></span>
        <div class="head">
            <h1 class="font-gray">门店详情</h1>
        </div>
    </header>
    <section class="panels">
        <a href="/Stores/edit/12" class="am-panel am-panel-default head-panel">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <p class="boss">李老板/13800000000</p>
                <i class="am-icon-angle-right"></i>
            </div>
        </a>

        <ul class="am-list am-list-static am-list-border">
            <li class="title">数据统计</li>
              <li>
                    <span class="key">最后下单日期/金额</span>
                    <span class="value">1天前 / 850.00元</span>
              </li>
              <li>
                    <span class="key">本月下单金额/频率</span>
                    <span class="value">5600.00元（12/15）</span>
              </li>
              <li>
                    <span class="key">门店欠款</span>
                    <span class="value">950.00元</span>
              </li>
              <li>
                    <span class="key">最后拜访</span>
                    <span class="value">5天前</span>
              </li>
        </ul>
        <ul class="am-list am-list-static am-list-border features">
            <li class="title">功能导航</li>
          <li>
            <a href=""><i class="am-icon-users"></i> 门店人员<i class="am-icon-angle-right"></i></a>
          </li>
          <li>
            <a href=""><i class="am-icon-clipboard"></i> 历史订单<i class="am-icon-angle-right"></i></a>
          </li>
          <li>
            <a href=""><i class="am-icon-jpy"></i> 账户明细<i class="am-icon-angle-right"></i></a>
          </li>
          <li>
            <a href=""><i class="am-icon-calendar"></i> 拜访计划<i class="am-icon-angle-right"></i></a>
          </li>
          <li>
            <a href=""><i class="am-icon-list"></i> 拜访记录<i class="am-icon-angle-right"></i></a>
          </li>
        </ul>
    
        <div class="btn-groups">
        <a href="" class="am-btn am-btn-primary am-btn-block">拨打老板电话</a>
        <a href="" class="am-btn am-btn-primary am-btn-block">标记为潜在客户</a>
        <a href="" class="am-btn am-btn-primary am-btn-block">加入拜访计划</a>
        </div>
    </section>
</div>