<div class="page storelist" id="privateList-page" oriclass="page storelist">
    <header class="m-header">
        <span class="lt-bar back" data-role="back"><i class="am-icon-angle-left"></i></span>
        <div class="head">
            <h1 class="font-gray">我的私海</h1>
        </div>
        <a href="" class="rt-bar text search"><i class="am-icon-search"></i></a>
    </header>

    <form class="am-form">
        <div class="am-g">
            <div class="am-u-sm-6 am-form-group">
                <select name="type">
                    <option value="option1">所有门店</option>
                    <option value="option1">所有门店</option>
                </select>
            </div>
            <div class="am-u-sm-6">
                <select name="order">
                    <option value="option1">贡献值</option>
                    <option value="option1">贡献值</option>
                </select>
            </div>
        </div>
    </form>
    <section class="panels">
        <a href="/Stores/detail/12" class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <i class="am-icon-angle-right"></i>
            </div>
        </a>
    </section>
</div>