<div class="page storelist" id="publicList-page" oriclass="page storelist">
    <header class="m-header">
        <span class="lt-bar back" data-role="back"><i class="am-icon-angle-left"></i></span>
        <div class="head">
            <h1 class="font-gray">公海门店</h1>
        </div>
        <a href="" class="rt-bar text search"><i class="am-icon-search"></i></a>
    </header>
    
    <form class="am-form">
        <div class="am-g">
            <div class="am-u-sm-6 am-form-group">
                <select name="type">
                    <option value="option1">所有门店</option>
                    <option value="option1">所有门店</option>
                </select>
            </div>
            <div class="am-u-sm-6">
                <select name="order">
                    <option value="option1">贡献值</option>
                    <option value="option1">贡献值</option>
                </select>
            </div>
        </div>
    </form>
    <section class="panels">
        <a href="" class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <i class="am-icon-angle-right"></i>
            </div>
            <div class="am-panel-bd">
                <div class="am-g">
                    <div class="am-u-sm-4">
                        1天前下单金额
                    </div>
                    <div class="am-u-sm-4">
                        本月下单(频率)
                    </div>
                    <div class="am-u-sm-4">
                        最后拜访
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        850.00元
                    </div>
                    <div class="am-u-sm-4">
                        850.00元(12/15)
                    </div>
                    <div class="am-u-sm-4">
                        3天前
                    </div>
                </div>
            </div>
        </a>
        <a href="" class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <i class="am-icon-angle-right"></i>
            </div>
            <div class="am-panel-bd">
                <div class="am-g">
                    <div class="am-u-sm-4">
                        1天前下单金额
                    </div>
                    <div class="am-u-sm-4">
                        本月下单(频率)
                    </div>
                    <div class="am-u-sm-4">
                        最后拜访
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        850.00元
                    </div>
                    <div class="am-u-sm-4">
                        850.00元(12/15)
                    </div>
                    <div class="am-u-sm-4">
                        3天前
                    </div>
                </div>
            </div>
        </a>
        <a href="" class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <i class="am-icon-angle-right"></i>
            </div>
            <div class="am-panel-bd">
                <div class="am-g">
                    <div class="am-u-sm-4">
                        1天前下单金额
                    </div>
                    <div class="am-u-sm-4">
                        本月下单(频率)
                    </div>
                    <div class="am-u-sm-4">
                        最后拜访
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        850.00元
                    </div>
                    <div class="am-u-sm-4">
                        850.00元(12/15)
                    </div>
                    <div class="am-u-sm-4">
                        3天前
                    </div>
                </div>
            </div>
        </a>
        <a href="" class="am-panel am-panel-default">
            <div class="am-panel-hd">
                <p>一家冒菜馆子 <span class="am-badge am-badge-primary">忠</span></p>
                <p class="address">成都市武侯区天府广场8号</p>
                <i class="am-icon-angle-right"></i>
            </div>
            <div class="am-panel-bd">
                <div class="am-g">
                    <div class="am-u-sm-4">
                        1天前下单金额
                    </div>
                    <div class="am-u-sm-4">
                        本月下单(频率)
                    </div>
                    <div class="am-u-sm-4">
                        最后拜访
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        850.00元
                    </div>
                    <div class="am-u-sm-4">
                        850.00元(12/15)
                    </div>
                    <div class="am-u-sm-4">
                        3天前
                    </div>
                </div>
            </div>
        </a>
    </section>
</div>